{{ form_start(form) }}

{{ form_label(form.title) }}
{{ form_widget(form.title) }}

{{ form_label(form.author) }}
{{ form_widget(form.author) }}

{{ form_label(form.price) }}
{{ form_widget(form.price) }}

{{ form_label(form.description) }}
{{ form_widget(form.description) }}

{{ form_label(form.image) }}
{{ form_widget(form.image) }}

<div style="display:none">
    {{ form_widget(form.seller) }}
</div>
<br>
<button class="btn">{{ button_label|default('Save', {'user': app.user.id}) }}</button>
{{ form_end(form) }}
