{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Seller</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>&euro;{{ book.price }}</td>
                <td>{{ book.seller.username }}</td>
                <td>
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    {% else %}
                        <a href="{{ path('book_show2', {'id': book.id}) }}">show</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
