{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Buyer</th>
                <th>Price</th>
                <th>book</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.buyer }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.book }}</td>
                <td>
                    <a href="{{ path('transaction_show', {'id': transaction.id}) }}">show</a>
                    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
